@import '@/styles/variables.scss';

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    padding: $spacing;

    @media (max-height: 900px) {
        padding: $spacing05;
    }

    @media (max-width: 480px) {
        padding: $spacing05;
    }

    &__list {
        display: flex;
        align-items: center;
        background: #ffffff13;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff34;

        gap: $spacing;
        margin: 0;
        padding: 8px $spacing;

        @media (max-height: 900px) {
            padding: 5px $spacing;
        }

        @media (max-width: 480px) {
            padding: 5px $spacing05;
        }
    }

    &__link {
        position: relative;
        color: $white;
        text-decoration: none;
        font-size: $font-size-sm;
        font-weight: 600;
        text-transform: uppercase;
        padding: 8px 0;
        transition: all 0.5s ease;
        display: inline-block;

        &:hover {
            color: $primary-color;

            .nav__underline {
                width: 100%;
            }

            .nav__background {
                transform: scale(1);
            }

            .nav__number {
                opacity: 1;
            }
        }

        &--active {
            color: $primary-color;

            .nav__underline {
                width: 100%;
            }
        }
    }

    &__text {
        position: relative;
        z-index: 10;
    }

    &__underline {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(to right, $primary-color, rgba($primary-color, 0.5));
        transition: all 0.5s ease;
    }

    &__background {
        position: absolute;
        inset: 0;
        background: rgba($primary-color, 0.05);
        transform: scale(0);
        transition: transform 0.3s ease;
        z-index: -1;
    }

    &__number {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}