@import '@/styles/variables.scss';

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  &.small {
    width: 200px;
    height: 114px;
  }
  
  &.medium {
    width: 320px;
    height: 183px;
  }
  
  &.large {
    width: 640px;
    height: 380px;
  }
}

.logoMain {
  position: relative;
  width: 100%;
  height: 100%;
  
  svg {
    width: 100%;
    height: 100%;

    path {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke: white;
      stroke-width: 2;
      fill: transparent;
    }
  }
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
    stroke-width: 0;
  }
}

@keyframes drawPathSlow {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
    stroke-width: 0;
  }
}

.logoContainer.animate {
  svg {
    path:nth-child(1) { // P
      animation: drawPath 0.8s ease-in-out 0s forwards;
    }
    
    path:nth-child(2) { // A
      animation: drawPath 0.8s ease-in-out 0.1s forwards;
    }
    
    path:nth-child(3) { // R
      animation: drawPath 0.8s ease-in-out 0.2s forwards;
    }
    
    path:nth-child(4) { // E
      animation: drawPath 0.8s ease-in-out 0.3s forwards;
    }
    
    path:nth-child(5) { // N
      animation: drawPath 0.8s ease-in-out 0.4s forwards;
    }
    
    path:nth-child(6) { // S
      animation: drawPath 0.8s ease-in-out 0.5s forwards;
    }
    
    path:nth-child(7) { // E
      animation: drawPath 0.8s ease-in-out 0.6s forwards;
    }
    
    path:nth-child(8) { // D
      animation: drawPath 0.6s ease-in-out 0.9s forwards;
    }
    
    path:nth-child(9) { // E
      animation: drawPath 0.6s ease-in-out 1.0s forwards;
    }
    
    path:nth-child(10) { // M
      animation: drawPathSlow 1.2s ease-in-out 1.3s forwards;
    }
    
    path:nth-child(11) { // A
      animation: drawPathSlow 1.2s ease-in-out 1.4s forwards;
    }
    
    path:nth-child(12) { // N
      animation: drawPathSlow 1.2s ease-in-out 1.5s forwards;
    }
    
    path:nth-child(13) { // O
      animation: drawPathSlow 1.2s ease-in-out 1.6s forwards;
    }
    
    path:nth-child(14) { // S
      animation: drawPathSlow 1.2s ease-in-out 1.7s forwards;
    }
    

    path:nth-child(n+15) {
      animation: drawPath 0.6s ease-in-out 2.5s forwards;
    }
  }
}


.logoContainer:hover {
  svg {
    transition: transform 0.3s ease;
    transform: scale(1.02);
    
    path {
      transition: transform 0.3s ease;
    }
  }
}
